.home {
    align-self: stretch;
    height: 32px;
    position: relative;
    font-weight: 600;
    display: inline-block;
  }
  .home-wrapper {
    width: 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .team {
    align-self: stretch;
    height: 32px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
  }
  .team-wrapper {
    width: 71px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .events {
    align-self: stretch;
    height: 32px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
  }
  .events-wrapper {
    width: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .sponsors {
    align-self: stretch;
    height: 32px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
  }
  .sponsors-wrapper {
    width: 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .magazines {
    align-self: stretch;
    height: 32px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
  }
  .magazines-wrapper {
    width: 136px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .about-us {
    align-self: stretch;
    height: 32px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
  }
  .about-us-wrapper {
    width: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .contact-us-child {
    height: 40px;
    width: 153.8px;
    position: relative;
    border-radius: 8.28px;
    background: linear-gradient(
      180deg,
      #01ffff 10.18%,
      rgba(0, 163, 255, 0.55) 34.27%,
      #000 51.25%,
      rgba(0, 162, 255, 0.51) 63.51%,
      #4ddad2 89.89%
    );
    border: 1.7px solid var(--color-white);
    box-sizing: border-box;
    display: none;
  }
  .register-now {
    position: relative;
    font-size: 20.7px;
    font-weight: 600;
    font-family: var(--font-crimson-text);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    text-shadow: 2.1px 2.1px 3.45px #969696;
    min-width: 119px;
    z-index: 1;
  }
  .contact-us,
  .f-r-a-m-e-homepage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-us {
    cursor: pointer;
    border: 1.7px solid var(--color-white);
    padding: 6.799999999999272px 17px 6.200000000000728px 18px;
    background-color: transparent;
    border-radius: 8.28px;
    background: linear-gradient(
      180deg,
      #01ffff 10.18%,
      rgba(0, 163, 255, 0.55) 34.27%,
      #000 51.25%,
      rgba(0, 162, 255, 0.51) 63.51%,
      #4ddad2 89.89%
    );
    white-space: nowrap;
  }
  .contact-us:hover {
    background-color: rgba(230, 230, 230, 0.09);
    border: 1.7px solid #e6e6e6;
    box-sizing: border-box;
  }
  .f-r-a-m-e-homepage {
    gap: 25px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--font-crimson-text);
  }
  .pvgs-college-of {
    align-self: stretch;
    position: relative;
    font-size: 41.9px;
    font-weight: 600;
    z-index: 1;
  }
  .association-of-artificial {
    width: 810px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
  }
  .a-i-deas-logo {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    color: var(--color-white);
  }
  .aideas {
    width: 167px;
    position: relative;
    display: inline-block;
    background: linear-gradient(180deg, #01fefe 5.67%, #00bcff 78.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-shrink: 0;
    z-index: 1;
  }
  .a-i-deas-logo1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .pvgs-college-of-engineering-a-parent {
    width: 1112px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 37px;
    max-width: 100%;
  }
  .homepage-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-17xl-7);
    color: var(--b1);
    font-family: var(--font-crimson-text);
  }
  .aideas-logo-1,
  .d-rendering-biorobots-concept-icon,
  .icon {
    position: absolute;
    top: 1px;
    left: -8px;
    width: 100%;
    height: 799px;
    object-fit: cover;
  }
  .aideas-logo-1,
  .icon {
    top: -90px;
    left: 20.8px;
    width: 83.4px;
    height: 98.9px;
    /* z-index: 1; */
  }
  .icon {
    top: 579px;
    left: calc(50vw - 74px);
    width: 148.5px;
    height: 136.3px;
  }
  .rendering-biorobots {
    width: 100%;
    height: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 50;
  }
  .homepage {
    width: 100%;
    position: relative;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px 41.19999999999982px 351px;
    box-sizing: border-box;
    gap: 197px;
    letter-spacing: normal;
  }
  @media screen and (max-width: 750px) {
    .f-r-a-m-e-homepage {
      display: none;
    }
    .pvgs-college-of {
      font-size: 34px;
    }
    .aideas,
    .association-of-artificial {
      font-size: var(--font-size-10xl);
    }
    .homepage {
      gap: 98px 197px;
    }
  }
  @media screen and (max-width: 675px) {
    .pvgs-college-of-engineering-a-parent {
      gap: 18px 37px;
    }
  }
  @media screen and (max-width: 450px) {
    .pvgs-college-of {
      font-size: var(--font-size-6xl);
    }
    .aideas,
    .association-of-artificial {
      font-size: var(--font-size-3xl);
    }
  }