.aideas-logo-1 {
    height: 98.9px;
    width: 83.4px;
    position: relative;
    object-fit: cover;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .home {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  .home-wrapper {
    width: 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .team {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  .team-wrapper {
    width: 71px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .events {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  .events-wrapper {
    width: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .sponsors {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  .sponsors-wrapper {
    width: 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .magazines {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  .magazines-wrapper {
    width: 136px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .about-us1 {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    white-space: nowrap;
  }
  .about-us-wrapper {
    width: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
  }
  .contact-us-child {
    height: 40px;
    width: 153.8px;
    position: relative;
    border-radius: 8.28px;
    background: linear-gradient(
      180deg,
      #01ffff 10.18%,
      rgba(0, 163, 255, 0.55) 34.27%,
      #000 51.25%,
      rgba(0, 162, 255, 0.51) 63.51%,
      #4ddad2 89.89%
    );
    border: 1.7px solid var(--color-white);
    box-sizing: border-box;
    display: none;
  }
  .register-now {
    position: relative;
    font-size: var(--font-size-xl-7);
    font-weight: 600;
    font-family: var(--font-crimson-text);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    text-shadow: 2.1px 2.1px 3.45px #969696;
    min-width: 115px;
    z-index: 1;
  }
  .contact-us,
  .frame-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-us {
    cursor: pointer;
    border: 1.7px solid var(--color-white);
    padding: 6.799999999999272px 19.19999999999891px 6.200000000000728px
      19.600000000000364px;
    background-color: transparent;
    border-radius: 8.28px;
    background: linear-gradient(
      180deg,
      #01ffff 10.18%,
      rgba(0, 163, 255, 0.55) 34.27%,
      #000 51.25%,
      rgba(0, 162, 255, 0.51) 63.51%,
      #4ddad2 89.89%
    );
    white-space: nowrap;
  }
  .contact-us:hover {
    background-color: var(--color-gainsboro-300);
    border: 1.7px solid var(--color-gainsboro-100);
    box-sizing: border-box;
  }
  .frame-parent {
    align-self: stretch;
    /* gap: var(--gap-14xl); */
    gap: 20px;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .aideas-logo-1-parent,
  .frame-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-wrapper {
    width: 955.8px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-8xl) 0 0;
    box-sizing: border-box;
  }
  .aideas-logo-1-parent {
    align-self: stretch;
    height: 98.9px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--font-crimson-text);
  }
  .welcome-to-aideas {
    margin: 0;
    height: 59px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #01fefe 5.67%, #00bcff 78.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    max-width: 100%;
  }
  .welcome-to-aideas-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 62px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .association-of-artificial {
    height: 55px;
    position: relative;
    font-size: var(--font-size-6xl);
    font-family: var(--font-crimson-text);
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
  }
  .frame-container,
  .frame-div {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-div {
    width: 518px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 9px;
  }
  .frame-container {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: center;
  }
  .ai-technology-brain-background-icon {
    height: 201.4px;
    width: 200.9px;
    position: relative;
    object-fit: cover;
    z-index: 1;
  }
  .ai-technology-brain-background-icon1,
  .ai-technology-brain-background-icon2 {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
  }
  .ai-technology-brain-background-icon1 {
    height: calc(100% - 0.6px);
    width: calc(100% - 0.6px);
    top: 0.3px;
    right: 0.3px;
    bottom: 0.3px;
    left: 0.3px;
  }
  .ai-technology-brain-background-icon2 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .ai-technology-brain-background-parent {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .image,
  .vision {
    position: relative;
  }
  .image {
    height: 224px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 11.299999999999272px 11.799999999999272px 11.300000000001091px;
    box-sizing: border-box;
  }
  .vision {
    margin: 0;
    height: 59px;
    flex: 1;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #01fefe 5.67%, #00bcff 78.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  .vision-wrapper {
    width: 228px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
  }
  .to-become-a {
    align-self: stretch;
    height: 117px;
    position: relative;
    font-size: var(--font-size-6xl);
    font-family: var(--font-crimson-text);
    text-align: justify;
    display: inline-block;
    flex-shrink: 0;
  }
  .research-ecosystem {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .background-images,
  .research-ecosystem-wrapper {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .research-ecosystem-wrapper {
    width: 665px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-lg);
  }
  .background-images {
    width: 1005px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0 49px;
    gap: var(--gap-xl);
  }
  .mission {
    margin: 0;
    height: 59px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #01fefe 5.67%, #00bcff 78.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  .mission-wrapper {
    width: 302px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-20xl);
    box-sizing: border-box;
  }
  .to-create-a,
  .to-impart-fundamental,
  .to-nurture-social {
    margin-bottom: 0;
  }
  .to-create-a-research-based-edu {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-14xl);
  }
  .to-create-a-container {
    align-self: stretch;
    height: 258px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .to-create-a-research-based-edu-wrapper {
    width: 632px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    min-width: 632px;
    max-width: 100%;
  }
  .d-rendering-biorobots-concept-icon {
    position: absolute;
    width: calc(100% - 24.6px);
    top: 8.4px;
    right: 12px;
    left: 12.6px;
    border-radius: 4.51px;
    max-width: 100%;
    overflow: hidden;
    height: 197.5px;
    object-fit: cover;
  }
  .d-rendering-biorobots-concept-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4.91px;
    width: 301.1px;
    height: 215px;
    object-fit: cover;
    z-index: 1;
  }
  .image1 {
    height: 215px;
    width: 301.1px;
    position: relative;
    min-width: 301.1px;
  }
  .frame-parent2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: justify;
    font-size: var(--font-size-6xl);
    font-family: var(--font-crimson-text);
  }
  .frame-parent1,
  .frame-parent2,
  .frame-wrapper1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent1 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
  }
  .frame-wrapper1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 9.899999999999636px 60.79999999999927px 0;
    box-sizing: border-box;
  }
  .abstract-artificial-intelligen-icon {
    height: 230px;
    width: 230px;
    position: relative;
    object-fit: cover;
    display: inline-block;
  }
  .abstract-artificial-intelligen-icon1 {
    height: 196.9px;
    width: 196.9px;
    position: relative;
    object-fit: cover;
    z-index: 1;
  }
  .image-wrapper,
  .image2 {
    display: flex;
    align-items: flex-start;
  }
  .image2 {
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-base-5) var(--padding-base-5) 16.600000000000364px;
    background-image: url(./public/abstractartificialintelligencebackground-232147738874-2@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .image-wrapper {
    height: 238.23px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 8.234999999998763px;
    box-sizing: border-box;
    min-width: 230px;
  }
  .objectives {
    margin: 0;
    height: 43.9px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(180deg, #01fefe 5.67%, #00bcff 78.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  .objectives-wrapper {
    width: 357px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-20xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .apply-problem-solving,
  .embrace-lifelong-learning,
  .practice-ethical-ai {
    margin-bottom: 0;
  }
  .apply-problem-solving-skills-t {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-14xl);
  }
  .apply-problem-solving-container {
    align-self: stretch;
    height: 216.97px;
    position: relative;
    font-size: var(--font-size-6xl);
    font-family: var(--font-crimson-text);
    text-align: justify;
    display: inline-block;
    flex-shrink: 0;
  }
  .frame-parent4 {
    width: 644px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15.565000000002328px;
    min-width: 644px;
    max-width: 100%;
  }
  .frame-parent3,
  .frame-wrapper2 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .frame-parent3 {
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper2 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 22px 0 17px;
    box-sizing: border-box;
  }
  .frame-group {
    width: 1028px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 64px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--font-source-serif-pro);
  }
  .about-us-inner {
    width: 1368.4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 103.66500000000087px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .association-of-artificial1 {
    height: 55px;
    position: relative;
    text-decoration: underline;
    color: inherit;
    display: inline-block;
  }
  .association-of-artificial-inte-wrapper {
    width: 1368.4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .about-us {
    width: 100%;
    position: relative;
    background-color: var(--color-black);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 25.200000000000728px 124px 28.799999999999272px;
    box-sizing: border-box;
    gap: 37.10000000000037px;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--font-crimson-text);
  }
  @media screen and (max-width: 1200px) {
    .about-us-inner {
      padding-bottom: 67px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .frame-parent {
      display: none;
    }
    .frame-wrapper {
      width: 0;
    }
    .vision,
    .welcome-to-aideas {
      font-size: var(--font-size-13xl);
    }
    .background-images {
      flex-wrap: wrap;
      justify-content: center;
    }
    .mission {
      font-size: var(--font-size-13xl);
    }
    .image1,
    .to-create-a-research-based-edu-wrapper {
      flex: 1;
    }
    .frame-parent2 {
      flex-wrap: wrap;
    }
    .image-wrapper {
      flex: 1;
    }
    .objectives {
      font-size: var(--font-size-13xl);
    }
    .frame-parent4 {
      flex: 1;
      min-width: 100%;
    }
    .frame-parent3 {
      flex-wrap: wrap;
    }
    .frame-group {
      gap: 32px 64px;
    }
  }
  @media screen and (max-width: 750px) {
    .frame-parent {
      gap: 33px 16px;
    }
    .welcome-to-aideas-wrapper {
      padding-left: var(--padding-12xl);
      padding-right: var(--padding-12xl);
      box-sizing: border-box;
    }
    .to-create-a-research-based-edu-wrapper {
      min-width: 100%;
    }
    .frame-group {
      gap: 16px 64px;
    }
    .about-us-inner {
      padding-bottom: 44px;
      box-sizing: border-box;
    }
    .about-us {
      gap: 19px 37.1px;
    }
  }
  @media screen and (max-width: 450px) {
    .welcome-to-aideas {
      font-size: var(--font-size-5xl);
    }
    .association-of-artificial {
      font-size: var(--font-size-xl);
    }
    .vision {
      font-size: var(--font-size-5xl);
    }
    .to-become-a {
      font-size: var(--font-size-xl);
    }
    .mission {
      font-size: var(--font-size-5xl);
    }
    .to-create-a-container {
      font-size: var(--font-size-xl);
    }
    .frame-wrapper1 {
      padding-bottom: 40px;
      box-sizing: border-box;
    }
    .objectives {
      font-size: var(--font-size-5xl);
    }
    .apply-problem-solving-container,
    .association-of-artificial1 {
      font-size: var(--font-size-xl);
    }
  }
  